$font-base-size: 10px;

$design_pc_width: 1200;
$design_sp_width: 375;

$break-medium: $design_pc_width * 1px - 1;
$break-small: 767px;
$break-xsmall: 321px;

// media query
@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "medium":
      "(max-width: #{$break-medium}) and (min-width: #{$break-small+1px})",
    "small": "(max-width: #{$break-small})",
    "xsamll": "(max-width: #{$break-xsmall})",
    "pc": "(min-width: #{$design_pc_width})",
  );
  @return map-get($condMap, $c);
}

// The mdia mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

// function
@function size-relative($size: 10px, $base: "pc", $type: "font") {
  @if type-of($size) == "number" {
    $units: (
      "font": 1rem,
      "display": 100vw,
    );
    @if $type == "font" {
      @return ($size + 0px) / $font-base-size * map-get($units, $type);
    } @else {
      $base-display: (
        "pc": $design_pc_width + 0px,
        "sp": $design_sp_width + 0px,
      );
      @return ($size + 0px) / map-get($base-display, $base) *
        map-get($units, $type);
    }
  } @else {
    @debug $size;
  }
}

@mixin font-size-rem($font-size: 14px) {
  font-size: size-relative($font-size, "pc");
}

@mixin font-size-rem-sp($font-size: 18px) {
  font-size: size-relative($font-size, "sp");
}

@mixin font-size-vw($font-size: 14) {
  font-size: size-relative($font-size, "pc", "display");
}

@mixin font-size-vw-sp($font-size: 14) {
  font-size: size-relative($font-size, "sp", "display");
}

/* fonts */
$sans: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "游ゴシック", "YuGothic", "メイリオ", "Meiryo", sans-serif;
$sans-ie: "Century Gothic", "futura-pt", "Noto Sans JP", "ヒラギノ角ゴ Pro",
  "Hiragino Kaku Gothic Pro", "游ゴシック", "YuGothic", "メイリオ", "Meiryo",
  sans-serif;
$serif: "Noto Serif JP", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
  "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$helvetica: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande",
  sans-serif;
$futura: "futura-pt", sans-serif;
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
